#from templates.master import master
#extends master

#attr title = 'BGP Ranking - Worldmap'

#block menu
#end block menu

#block main_content

  <link rel="stylesheet" href="jvectormap/jquery-jvectormap.css" type="text/css" media="screen"/>
  <script src="jvectormap/jquery.js"></script>
  <script src="jvectormap/jquery-jvectormap.js"></script>
  <script src="jvectormap/jquery-jvectormap-world-mill-en.js"></script>

  Aggregation of all the ranks by country code (provided by Team Cymru).</br>
  A CSV dump of the data used to display this map is
  <a href="csv/worldmap.csv">available for download</a>.

  <div id="world-map" style="width: 1200px; height: 800px"></div>
  <script src="js_data/worldmap.js"></script>
  <script src="js/worldmap_script.js"></script>

#end block main_content
